.flex-cards-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto 50px auto;
  width: 90vw;
}

.div-hr {
  margin: 13px 35px;
  width: 74vw;
}

.flex-cards-section-header {
  display: flex;
  margin-bottom: 50px;
  padding-left: 62px;
}

.flex-cards-section-title {
  font-size: 1em;
  font-weight: lighter;
}

.flex-cards {
  border: 1px solid #D1D2D3;
  grid-column: span 1;
  margin: 5px;
}

.flex-cards-header {
  margin-left: 12px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flex-cards-body {
  background-color: #F2F2F2;
  border-top: 2px solid #D1D2D3;
  height: 20vh;
}

.flex-cards:nth-of-type(1) {
  grid-column: span 2;
}

.flex-cards:nth-last-of-type(1) {
  grid-column: span 2;
}

.view-code-button {
  background-color: #3F3244;
  color: #F2F2F2;
  font-weight: lighter;
  height: 40px;
  width: 20%;
  margin: 0 auto 75px;
}

@media screen and (max-width: 775px) {
  .flex-cards-container {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-cards {
    margin-right: 0;
    width: 90%;
  }

  .flex-cards-header{
    max-width: none;
    font-size: .85em;
  }
}
