.circle {
  background: #F2F2F2;
  border-radius: 50px;
  height: 8vw;
  width: 10vw;
  margin: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.div-hr {
  margin: 13px 35px;
  width: 74vw;
}

.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-bar-container {
  background-color: #D1D2D3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 60px auto;
  width: 80vw;
}

.header-bar-container input {
  background-color: #F2F2F2;
  height: 40px;
  width: 30%;
  margin: auto auto auto 0;
}

.header-bar-section-header {
  display: flex;
  margin-bottom: 50px;
  padding-left: 62px;
}

.header-bar-section-title {
  font-weight: lighter;
  font-size: 1em;
}

.header-button-container {
  display: none;
}

.header-button:focus {
  outline: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-links nav {
  margin: auto auto auto 0;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  margin: auto 40px auto 0;
}

.search input {
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  width: 250px;
  height: 50px;
  font-size: 1.2em;
  font-weight: lighter;
  text-indent: 38px;
}

.search img {
  position: absolute;
  height: 50px;
  width: 18px;
  margin: 0 10px 0 10px;
}

.small-nav {
  display: none;
}

.small-search {
  display: none
}

nav a {
  color: #666666;
  font-size: 1.2em;
  font-weight: lighter;
  text-decoration: none;
  margin: 20px 20px 20px 40px;
}

@media screen and (max-width: 725px) {
  .header-bar-container {
    margin: 0 auto 0 auto;
  }

  .header-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-button {
    background: none;
    border: none;
    color: #666666;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 30px 12px auto 0;
  }

  .nav-links {
    width: 15%;
  }

  .nav-links nav {
    display: none;
  }

  .search {
    display: none;
  }

  .small-nav {
    display: block;
    margin: 0 auto 60px auto;
  }

  .small-search {
    display: block;
    margin: auto auto auto 20px;
    width: 90%;
  }

  .small-search input {
    width: 100%;
  }

  .small-nav nav {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: 0 auto 60px auto;
    width: 80vw;
  }

}













/*.circle {
  background: #F2F2F2;
  border-radius: 50px;
  height: 8vw;
  width: 10vw;
  margin: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.div-hr {
  margin: 13px 35px;
  width: 74vw;
}

.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-bar-container {
  background-color: #D1D2D3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 60px auto;
  width: 80vw;
}

.header-bar-container input {
  background-color: #F2F2F2;
  height: 40px;
  width: 30%;
  margin: auto auto auto 0;
}

.header-bar-section-header {
  display: flex;
  margin-bottom: 50px;
  padding-left: 62px;
}

.header-bar-section-title {
  font-weight: lighter;
  font-size: 1em;
}

.header-button-container {
  display: none;
}

.header-button {
  background: none;
  border: none;
  color: #666666;
  font-size: 1.2em;
  font-weight: lighter;
  margin: 30px 12px auto 0;
}

.header:focus {
  outline: none;
}

.nav-links nav {
  margin: auto auto auto 0;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  margin: auto 40px auto 0;
}

.search input {
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  width: 250px;
  height: 50px;
  font-size: 1.2em;
  font-weight: lighter;
  text-indent: 38px;
}

.search img {
  position: absolute;
  height: 50px;
  width: 18px;
  margin: 0 10px 0 10px;
}

nav a {
  color: #666666;
  font-size: 1.2em;
  font-weight: lighter;
  text-decoration: none;
  margin: 20px;
}

@media screen and (max-width: 725px) {
  .circle {
    width: 6vh;
  }

  .nav-links nav {
    display: none;
  }

  .search {
    display: none;
  }

  .header-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}*/
