* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.main-container {
  /*display: flex;*/
  /*align-items: start;*/
  /*flex-direction: row;*/
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px 60px;
}

header h1 {
  font-size: 1.2em;
  font-weight: 300;
}

header h1 span {
  color: #34D1D1;
}

.student-name {
  font-weight: 600;
}

.accordion-header {
  display: flex;
  margin-bottom: 50px;
  padding-left: 62px;
}

.accordion-header-title {
  font-size: 15px;
}

.div-hr {
  margin: 13px 35px;
  width: 74vw;
}

.tabs-conatiner-container {
  width: 100%;
  display: inline-block;
}

.tabs {
  margin: 0 0 0 108px;
  padding: 0;
}

.tabs:after {
  display: block;
  clear: both;
  content: '';
}

.tabs li {
  margin: 0px 5px;
  float: left;
  list-style: none;
  text-decoration: none;
}

.tabs a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7FB5DA;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}

.tabs a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a, li.active a:hover {
  background: #fff;
  color: #4c4c4c;
}

.tab-img {
  width: 25%;
}

.tab-content {
  padding: 15px;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
  margin: auto;
  width: 80vw;
}

.content {
  float: right;
  margin-right: 70px;
  width: 60%;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
