* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}



header {
  background-color: #2F2235;
  color: #F2F2F2;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px 60px;
}

header h1 {
  font-size: 1.2em;
  font-weight: 300;
}

header h1 span {
  color: #34D1D1;
}

.student-name {
  font-weight: 600;
}

.accordion-header {
  display: flex;
  margin-bottom: 50px;
  padding-left: 62px;
}

.accordion-header-title {
  font-size: 15px;
}

.div-hr {
  margin: 13px 35px;
  width: 74vw;
}

.tabs-conatiner {
  width: 100vw;
  display: inline-block;
}

.tabs {
  margin: auto;
  padding: 0;
  width: 80vw;
}

.tabs:after {
  display: block;
  clear: both;
  content: '';
}

.tabs li {
  float: left;
  list-style: none;
}
.tabs ul {
  position: relative;
  right: 40px;
  top: 1px;
}

.tabs a {
  padding: 15px 50px;
  display: inline-block;
  border-top: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-radius: 3px 3px 0px 0px;
  background: #F2F2F2;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
  transition: all linear 0.15s;
}

.tabs a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a, li.active a:hover {
  background: #fff;
  color: #666666;
}

.tab-img {
  width: 25%;
}

.tab-content {
  padding: 15px;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-radius: 3px;
  margin: auto;
  width: 80vw;
}

.content {
  float: right;
  font-size: .85em;
  margin-right: 75px;
  width: 60%;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}


@media screen and (max-width: 1000px) {
  .content {
    float: none;
    width: 80%;
    margin: auto;
  }

  .content > p {
    text-align: left;
  }

  .content hr {
    margin-bottom: 45px;
  }

  .tab-img {
    width: 66%;
    /*margin: auto;*/
  }

  #tab1 img {
    transform: rotate(90deg);
  }

  .tab-title {
    font-size: 2.5em;
    margin: 45px 0 0 0;
  }

  .tab {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {

}
